*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
/*header*/
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 10px 100px;
	align-items: center;
	width: 90%;
	margin: auto;
}
.logo{
	font-size: 14px;
}
.navbar .logo h1{
	font-style: bolder;

}
span{
	background-color: #A5C422;
	color: white;
}
.navlist{
	display: flex;
	align-items: center;
}
.navlist a{
	align-items: center;
	text-decoration:none;
	color: black;
	padding: 20px 30px;
}
.navlist button{
	color: white;
	background-color: #A5C422;
	font-size: 14px;
	padding: 10px 20px;
	height: 40px;
	border: none;
}
.navlist button:hover{
	background-color: blue;
}
.icon{
	display: none;
}
@media(max-width:992px){
.navlist{
	display: none;
}
.icon{
	display: block;
}
}
/*home page*/
.home{
	background-image: url(slider1.jpg);
	background-position: center;
	background-size: cover;
	padding: 150px 50px 50px 50px;
	margin: auto;
	width: 100%;
}
.item{
	width: 90%;
	margin: auto;
}
.item p{
	font-size: 16px;
	color: white;
	width: 60%;
	margin: auto;
	text-align: center;
	padding: 20px 20px;
}
.item h1{
	width: 70%;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 60px;
}
.but{
	margin: auto;
	text-align: center;
	padding: 30px 0 30px 0;
}
.but button{
	color: white;
	background-color: #A5C422;
	border: none;
	padding: 10px;
	text-align:center;
}
.dot{
	display: flex;
	margin: auto;
	padding: 10px;
	gap: 10px;
	width: 5%;
	margin-top: 50px;
}
.dot .one{
	border: solid white;
	border-radius: 50%;
	height: 5px;
	width: 5px;
}
@media(max-width: 768px){
.item{
	width: 100%;
}
.item h1{
	width: 100%;
}
}

/*welcome page*/

.welcome{
	height: 100vh;
	background-image: url(about-bg.jpg);
	background-position: center;
	background-size: cover;
	/*padding: 50px;*/
	margin: auto;
	width: 100%;
}
.welcomecontent{
	width: 50%;
	padding: 20px;
}
.welcomecontent p{
	font-size: 18px;
	padding:10px;
	color: #757575;
	line-height: 25px;
}
.welcomecontent h1 span{
	background-color: black;
	color: white;
}
.welcomecontent h1{
	font-size: 50px;
	padding: 10px;
	width: 100%;
}
.sample2{
	width: 70px;
}
.sample2 img{
	display:flex;
	width: 100%;
	border-radius: 50%;
}
.sample{
	display: flex;
	padding: 10px;
	gap: 20px;
}
.sample1 h2{
	padding: 5px;
}
.sample1 h3{
	padding: 5px;
	font-size: 16px;
	color: #757575;
}
@media(max-width: 768px){
.welcomecontent{
	padding: 0px;
	width: 70%;
}
}
/*image page*/
.doctors{
	width: 90%;
	padding: 50px;
	margin: auto;
}

.topic{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	gap: 20px;
	margin: auto;
}
.topic1{
	padding: 10px;
	background-color: #f9f9f9;
}
.topichead{
	width: 280px;
	margin: auto;
}
.topichead img{
	width: 100%;
	height: 250px;
}
.topic1 h2{
	padding: 5px;
	font-size: 26px;
	font-style: bolder;
}
.topic1 h3{
	font-size: 16px;
	padding: 5px;
}
.topicname h4{
	/*text-align: center;*/
	font-size: 40px;
	padding: 20px;
	padding-left: 100px;
}
.top{
	padding: 5px;
	/*border-bottom: solid 1px;*/
}
.bottom{
	padding: 5px;
}
.icon1{
	display: flex;
	gap: 15px;
	/*padding: 10px;*/
}
.icon2{
	display: flex;
	/*padding: 10px;*/
	gap: 15px;
}

/*.mid part*/
.menu{
	display: flex;
	flex-wrap: wrap;
	/*padding: 50px;*/
	gap: 30px;
	width: 90%;
	margin: auto;
	/*border: solid;*/
}
.midpart{
	padding: 50px;
	background-color: #f9f9f9;
	width: 100%;
	margin: auto;
}
.menubody{
	background-color: white;
}
.menubody h4{
	font-size: 18px;
	padding: 5px;
}
.menubody h5{
	font-size: 24px;
	padding: 5px;
}
.menubody p{
	padding-bottom: 10px;
}
.sample{
	align-items: center;
	border-top: solid 1px #f9f9f9;
	background-color: white;
}
.sample2 img{
	width: 50px;
} 
.menu1{
	width: 320px;
	font-size: 20px;
	padding: 10px;
	background-color: ;
}
.midtitle h3{
	text-align: center;
	font-size: 40px;
	padding: 5px;
}
.menu1 .image1{
	/*width: 400px;*/
}
.image1 img{
	width: 100%;
}
.sample1 h2{
	padding:5px;
	font-size: 18px;
	font-style: bolder;
}
.sample1 h3{
	font-size: 16px;
	padding: 5px;
}
/*form page*/
.formbody{
	display: flex;
	padding: 50px;
	width: 90%;
	margin: auto;
}
.left{
	width: 50%;
}
.left img{
	width: 100%;
}
.right h1{
	font-size: 50px;
	padding: 20px;
}
.right{
	padding: 10px;
	width: 50%;
	/*border: solid;*/
}
.top{
	display: flex;
	width: 100%;
	/*border: solid;*/
}
.first1{
	padding: 10px;
	width: 50%;
	/*border: solid;*/
}
.first1 input{
	height: 30px;
	width: 90%;
	background-color: #f9f9f9;
	padding: 5px;
	border: none;
	border-radius: 5px;
}
.second1{
	/*border: solid;*/
	width: 50%;
	padding: 10px;
}
.second1 input{
	height: 30px;
	width: 90%;
	background-color: #f9f9f9;
	padding: 5px;
	border: none;
	border-radius: 5px;
}
.second1 select{
	height: 40px;
	width: 90%;
	background-color: #f9f9f9;
	padding: 5px;
	border: none;
	border-radius: 5px;
}
.third1{
	padding: 10px;
	width: 100%;
}
.third1 input{
	height: 30px;
	width: 90%;
	background-color: #f9f9f9;
	padding: 5px;
	border: none;
	border-radius: 5px;
}
.fourth{
	padding: 10px;
	width: 100%;
}
.fourth input{
	height: 85px;
	width: 90%;
	background-color: #f9f9f9;
	padding: 5;
	border: none;
	/*align-self: flex-start;*/
	border-radius: 5px;
}
.button1{
	padding: 10px;
	width: 100%;
}
.button1 button{
	height: 70px;
	width: 90%;
	background-color:#A5C422;
	padding: 5px;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 5px;

}
@media(max-width: 768px){
	.formbody {
		flex-direction: column;
	}
	.right{
		width: 100%;
	}
	.left{
		width: 100%;
	}

}
/*footer page*/
.footer{
	width: 100%;
}
.down{
	display: flex;
	width: 90%;
	padding: 50px;
	gap: 20px;
	flex-wrap: wrap;
	margin: auto;
}
.down1{
	width: 330px;
	padding: 10px;
	/*color: #ffffff;*/
}
.down h5{
	font-size: 20px;
	color: black;
	padding: 10px;
	font-weight: bolder;
}
.down p{
	padding: 5px;
}
#icon4{
	height: 20px;
	width: 20px;
	border: solid;
	padding: 10px;
	color: white;
	background-color: black;
	border-radius: 50%;
}
.icon4{
	display: flex;
	padding: 10px;
	align-items: center;
}
.pic1{
	display: flex;
	padding: 10px;
	gap: 20px;
	align-items: center;
}
.image{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.image img{
	width: 100%;
	height: 100%;
}
.down2{
	width: 330px;
	padding: 10px;
	/*color: #ffffff;*/
}
.down3 h5{
	/*text-align: center;*/
	/*font-size: 20px;*/
	/*padding-right: 170px;*/
}
.down3{
	width: 330px;
	padding: 10px;
	/*color: #ffffff;*/
}
.down p{
	padding: 10px;
}
.symbol{
	padding: 10px;
	display: flex;
	gap: 20px;
}

